{{>licenseInfo}}
/* tslint:disable:no-unused-variable member-ordering */

import * as Nest from '@nestjs/common';
import type { Request, Response } from 'express';
{{#imports}}
import { {{classname}} } from '../{{filename}}';
{{/imports}}

{{#operations}}
{{#description}}
/**
 * {{&description}}
 */
{{/description}}
@Nest.Controller()
@Nest.UsePipes(Nest.ValidationPipe)
export abstract class {{classname}} {

  {{#operations}}
  {{#operation}}
  protected abstract {{operationId}}({{#allParams}}{{paramName}}: {{{dataType}}}{{^required}} | undefined{{/required}}, {{/allParams}}request: Request, response: Response): {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} | Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}>;

  {{/operation}}
  {{/operations}}
  
  {{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}
     * @param {{paramName}} {{description}}
     {{/allParams}}
     */
    {{#responses}}{{#is2xx}}@Nest.HttpCode({{{code}}})
    {{/is2xx}}{{/responses}}@{{#lambda.pascalcase}}{{{operationId}}}Path{{/lambda.pascalcase}}()
    async do{{#lambda.pascalcase}}{{{operationId}}}{{/lambda.pascalcase}}({{#allParams}}{{>parameterDecorator}}{{paramName}}: {{{dataType}}}{{^required}} | undefined{{/required}}, {{/allParams}}@Nest.Req() request: Request, @Nest.Res({ passthrough: true }) response: Response): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {
      {{#allParams}}
      {{#isHeaderParam}}{{>primitiveParameterConversion}}{{/isHeaderParam}}
      {{#required}}
        if ({{paramName}} === null || {{paramName}} === undefined) {
            throw new Nest.BadRequestException('Required parameter {{paramName}} was null or undefined when calling {{nickname}}.');
        }

      {{/required}}
      {{/allParams}}
      return this.{{operationId}}({{#allParams}}{{paramName}}, {{/allParams}}request, response);
    }

  {{/operation}}
}
{{/operations}}

/**
* Path decorators to implement path automatically
*/
{{#operations}}
{{#operation}}
function {{#lambda.pascalcase}}{{{operationId}}}Path{{/lambda.pascalcase}}(): MethodDecorator {
    const path: string = "{{{path}}}".replace(/\$\{encodeURIComponent\(\w+\((\w+)\)\)\}/g, ':$1');
    return Nest.{{#lambda.pascalcase}}{{{httpMethod}}}{{/lambda.pascalcase}}(path);
}

{{/operation}}
{{/operations}}
