name: Publish package to GitHub Packages
# on:
#   release:
#     types: [published]
on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        working-directory: wrapper
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@jfrz38'
      - name: Install dependencies
        run: npm ci
      - name: Publish package
        # run: npm publish
        run: npm publish --tag develop
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
